#gameBoard {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    
}

button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

button {
    font-size: 30px;
}

body {
    display: grid;
    place-items: center;
}